# Project Title
### Data Engineering Capstone Project

#### Project Summary
--describe your project at a high level--

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [28]:
# Do all imports and installs here
import pandas as pd

import datetime as dt

### Step 1: Scope the Project and Gather Data

#### Scope 
Explain what you plan to do in the project in more detail. What data do you use? What is your end solution look like? What tools did you use? etc>

#### Describe and Gather Data 
Describe the data sets you're using. Where did it come from? What type of information is included?

### Step 2: Explore and Assess the Data

#### Explore the Data
Identify data quality issues, like missing values, duplicate data, etc.

#### Cleaning Steps
Document steps necessary to clean the data

### U.S. Demographics Data
-------

1. Loading the dataset into a Pandas df
2. Initial checks

In [116]:
demographics_df = pd.read_csv('us-cities-demographics.csv', sep=';')

In [117]:
demographics_df.dtypes

City                       object
State                      object
Median Age                float64
Male Population           float64
Female Population         float64
Total Population            int64
Number of Veterans        float64
Foreign-born              float64
Average Household Size    float64
State Code                 object
Race                       object
Count                       int64
dtype: object

In [118]:
demographics_df.shape

(2891, 12)

In [119]:
demographics_df.columns

Index(['City', 'State', 'Median Age', 'Male Population', 'Female Population',
       'Total Population', 'Number of Veterans', 'Foreign-born',
       'Average Household Size', 'State Code', 'Race', 'Count'],
      dtype='object')

In [120]:
demographics_df.describe()

,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,Count
count,2891.000000,2.888000e+03,2.888000e+03,2.891000e+03,2878.000000,2.878000e+03,2875.000000,2.891000e+03
mean,35.494881,9.732843e+04,1.017696e+05,1.989668e+05,9367.832523,4.065360e+04,2.742543,4.896377e+04
std,4.401617,2.162999e+05,2.315646e+05,4.475559e+05,13211.219924,1.557491e+05,0.433291,1.443856e+05
min,22.900000,2.928100e+04,2.734800e+04,6.321500e+04,416.000000,8.610000e+02,2.000000,9.800000e+01
25%,32.800000,3.928900e+04,4.122700e+04,8.042900e+04,3739.000000,9.224000e+03,2.430000,3.435000e+03
50%,35.300000,5.234100e+04,5.380900e+04,1.067820e+05,5397.000000,1.882200e+04,2.650000,1.378000e+04
75%,38.000000,8.664175e+04,8.960400e+04,1.752320e+05,9368.000000,3.397175e+04,2.950000,5.444700e+04
max,70.500000,4.081698e+06,4.468707e+06,8.550405e+06,156961.000000,3.212500e+06,4.980000,3.835726e+06

In [121]:
demographics_df.head()

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.60,MD,Hispanic or Latino,25924
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,White,58723
2,Hoover,Alabama,38.5,38040.0,46799.0,84839,4819.0,8229.0,2.58,AL,Asian,4759
3,Rancho Cucamonga,California,34.5,88127.0,87105.0,175232,5821.0,33878.0,3.18,CA,Black or African-American,24437
4,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,White,76402

In [122]:
demographics_df['City'].nunique()

567

The demographics dataset contains data for 567 U.S. cities.

In [123]:
demographics_df['State'].nunique()

49

The demographics dataset contains data for 49 U.S. states.

**Checking for NaN values**

In [124]:
demographics_df.isnull().values.any()

True

In [125]:
demographics_df.isnull().sum()

City                       0
State                      0
Median Age                 0
Male Population            3
Female Population          3
Total Population           0
Number of Veterans        13
Foreign-born              13
Average Household Size    16
State Code                 0
Race                       0
Count                      0
dtype: int64

There are 5 columns in the demographics dataset that have NaN values: Male Population, Female Population, Number of veterans, Foreigh-born, Average Household Size.

In [126]:
# Calculating the percentage of NaN values for each column

nan_demographics_df = pd.DataFrame(data=demographics_df.isnull().sum(), columns=['NaN'])

nan_demographics_df.drop(nan_demographics_df[nan_demographics_df['NaN'] == 0].index, inplace = True)

nan_demographics_df['% of NaN'] = (nan_demographics_df['NaN']/demographics_df.count())*100
nan_demographics_df

                        NaN  % of NaN
Male Population           3  0.103878
Female Population         3  0.103878
Number of Veterans       13  0.451703
Foreign-born             13  0.451703
Average Household Size   16  0.556522

The % of NaN values in each column is negligible therefore, we will not drop any rows.

When filtering the dataframe for a specific city, you can see that the data for all columns except 'Race' & 'Count' is duplicated.

We will transform the table so that each Race category is it's own column.

In [127]:
demographics_df[demographics_df['City'] == 'Silver Spring']

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.6,MD,Hispanic or Latino,25924
592,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.6,MD,White,37756
1678,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.6,MD,Black or African-American,21330
2123,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.6,MD,American Indian and Alaska Native,1084
2162,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.6,MD,Asian,8841

In [128]:
demographics_df['Race'].unique()

array(['Hispanic or Latino', 'White', 'Asian', 'Black or African-American',
       'American Indian and Alaska Native'], dtype=object)

In [129]:
demographics_df = demographics_df.set_index(['City', 'State', 'Median Age', 'Male Population', 'Female Population',
       'Total Population', 'Number of Veterans', 'Foreign-born',
       'Average Household Size', 'State Code', 'Race']).Count.unstack().reset_index()
demographics_df.columns.name = None
demographics_df.head()

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,American Indian and Alaska Native,Asian,Black or African-American,Hispanic or Latino,White
0,Abilene,Texas,31.3,65212.0,60664.0,125876,9367.0,8129.0,2.64,TX,1813.0,2929.0,14449.0,33222.0,95487.0
1,Akron,Ohio,38.1,96886.0,100667.0,197553,12878.0,10024.0,2.24,OH,1845.0,9033.0,66551.0,3684.0,129192.0
2,Alafaya,Florida,33.5,39504.0,45760.0,85264,4176.0,15842.0,2.94,FL,NaN,10336.0,6577.0,34897.0,63666.0
3,Alameda,California,41.4,37747.0,40867.0,78614,4504.0,18841.0,2.52,CA,1329.0,27984.0,7364.0,8265.0,44232.0
4,Albany,Georgia,33.3,31695.0,39414.0,71109,5409.0,861.0,2.38,GA,445.0,650.0,53440.0,1783.0,17160.0

Now, when we check the shape of the DataFrame, we can see that the duplicated rows have been removed.

In [130]:
demographics_df.shape

(596, 15)

The number of unique Cities and States is the same as before the dataset was transformed.

In [131]:
demographics_df['City'].nunique()

567

In [132]:
demographics_df['State'].nunique()

49

In [133]:
demographics_df.duplicated().sum()

0

In [134]:
demographics_df.isna().sum()

City                                  0
State                                 0
Median Age                            0
Male Population                       1
Female Population                     1
Total Population                      0
Number of Veterans                    7
Foreign-born                          7
Average Household Size                8
State Code                            0
American Indian and Alaska Native    57
Asian                                13
Black or African-American            12
Hispanic or Latino                    0
White                                 7
dtype: int64

In [135]:
# Calculating the percentage of NaN values for each column

nan_demographics_df_2 = pd.DataFrame(data=demographics_df.isnull().sum(), columns=['NaN'])

nan_demographics_df_2.drop(nan_demographics_df_2[nan_demographics_df_2['NaN'] == 0].index, inplace = True)

nan_demographics_df_2['% of NaN'] = (nan_demographics_df_2['NaN']/demographics_df.count())*100
nan_demographics_df_2

                                   NaN   % of NaN
Male Population                      1   0.168067
Female Population                    1   0.168067
Number of Veterans                   7   1.188455
Foreign-born                         7   1.188455
Average Household Size               8   1.360544
American Indian and Alaska Native   57  10.575139
Asian                               13   2.229846
Black or African-American           12   2.054795
White                                7   1.188455

In [136]:
# Removing name of index column
demographics_df = demographics_df.rename_axis(None, axis=1)

In [137]:
# Creating a new df
dems_df = demographics_df

In [138]:
dems_df.head()

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,American Indian and Alaska Native,Asian,Black or African-American,Hispanic or Latino,White
0,Abilene,Texas,31.3,65212.0,60664.0,125876,9367.0,8129.0,2.64,TX,1813.0,2929.0,14449.0,33222.0,95487.0
1,Akron,Ohio,38.1,96886.0,100667.0,197553,12878.0,10024.0,2.24,OH,1845.0,9033.0,66551.0,3684.0,129192.0
2,Alafaya,Florida,33.5,39504.0,45760.0,85264,4176.0,15842.0,2.94,FL,NaN,10336.0,6577.0,34897.0,63666.0
3,Alameda,California,41.4,37747.0,40867.0,78614,4504.0,18841.0,2.52,CA,1329.0,27984.0,7364.0,8265.0,44232.0
4,Albany,Georgia,33.3,31695.0,39414.0,71109,5409.0,861.0,2.38,GA,445.0,650.0,53440.0,1783.0,17160.0

**Calculations**

1. Finding the % breakdown of the following columns: Male Population, Female Population per City
2. Finding the % breakdwon of the following columns: American Indian and Alaska Native, Asian, Black or African-American, Hispanic or Latino and White per City
3. Finding the % of Foreign born per City

% breakdown per Gender

Let's add two new columns: 'pct_male_pop' and 'pct_female_pop'

In [139]:
dems_df['pct_male_pop'] = (dems_df['Male Population']/dems_df['Total Population'])*100
dems_df['pct_female_pop'] = (dems_df['Female Population']/dems_df['Total Population'])*100

In [140]:
dems_df.head()

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,American Indian and Alaska Native,Asian,Black or African-American,Hispanic or Latino,White,pct_male_pop,pct_female_pop
0,Abilene,Texas,31.3,65212.0,60664.0,125876,9367.0,8129.0,2.64,TX,1813.0,2929.0,14449.0,33222.0,95487.0,51.806540,48.193460
1,Akron,Ohio,38.1,96886.0,100667.0,197553,12878.0,10024.0,2.24,OH,1845.0,9033.0,66551.0,3684.0,129192.0,49.043042,50.956958
2,Alafaya,Florida,33.5,39504.0,45760.0,85264,4176.0,15842.0,2.94,FL,NaN,10336.0,6577.0,34897.0,63666.0,46.331394,53.668606
3,Alameda,California,41.4,37747.0,40867.0,78614,4504.0,18841.0,2.52,CA,1329.0,27984.0,7364.0,8265.0,44232.0,48.015621,51.984379
4,Albany,Georgia,33.3,31695.0,39414.0,71109,5409.0,861.0,2.38,GA,445.0,650.0,53440.0,1783.0,17160.0,44.572417,55.427583

In [65]:
# gender_dems_df = demographics_df.groupby(['State'])['Male Population', 'Female Population', 'Total Population'].sum()
# gender_dems_df

% breakdown per Race category

In [141]:
# American Indian and Alaska Native
dems_df['pct_native'] = (dems_df['American Indian and Alaska Native']/dems_df['Total Population'])*100

# Asian
dems_df['pct_asian'] = (dems_df['Asian']/dems_df['Total Population'])*100

# Black or African-American
dems_df['pct_black'] = (dems_df['Black or African-American']/dems_df['Total Population'])*100

# Hispanic or Latino
dems_df['pct_hispanic'] = (dems_df['Hispanic or Latino']/dems_df['Total Population'])*100

# White
dems_df['pct_white'] = (dems_df['White']/dems_df['Total Population'])*100

In [142]:
dems_df.head()

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,...,Black or African-American,Hispanic or Latino,White,pct_male_pop,pct_female_pop,pct_native,pct_asian,pct_black,pct_hispanic,pct_white
0,Abilene,Texas,31.3,65212.0,60664.0,125876,9367.0,8129.0,2.64,TX,...,14449.0,33222.0,95487.0,51.806540,48.193460,1.440306,2.326893,11.478757,26.392640,75.857987
1,Akron,Ohio,38.1,96886.0,100667.0,197553,12878.0,10024.0,2.24,OH,...,66551.0,3684.0,129192.0,49.043042,50.956958,0.933927,4.572444,33.687669,1.864816,65.396122
2,Alafaya,Florida,33.5,39504.0,45760.0,85264,4176.0,15842.0,2.94,FL,...,6577.0,34897.0,63666.0,46.331394,53.668606,NaN,12.122349,7.713689,40.928176,74.669263
3,Alameda,California,41.4,37747.0,40867.0,78614,4504.0,18841.0,2.52,CA,...,7364.0,8265.0,44232.0,48.015621,51.984379,1.690539,35.596713,9.367288,10.513395,56.264787
4,Albany,Georgia,33.3,31695.0,39414.0,71109,5409.0,861.0,2.38,GA,...,53440.0,1783.0,17160.0,44.572417,55.427583,0.625800,0.914090,75.152231,2.507418,24.131966

% breakdown of Foreign Born

In [143]:
dems_df['pct_foreign_born'] = (dems_df['Foreign-born']/dems_df['Total Population'])*100

% breakdown of Veterans

In [145]:
dems_df['pct_veterans'] = (dems_df['Number of Veterans']/dems_df['Total Population'])*100

In [146]:
dems_df.head()

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,...,White,pct_male_pop,pct_female_pop,pct_native,pct_asian,pct_black,pct_hispanic,pct_white,pct_foreign_born,pct_veterans
0,Abilene,Texas,31.3,65212.0,60664.0,125876,9367.0,8129.0,2.64,TX,...,95487.0,51.806540,48.193460,1.440306,2.326893,11.478757,26.392640,75.857987,6.457943,7.441450
1,Akron,Ohio,38.1,96886.0,100667.0,197553,12878.0,10024.0,2.24,OH,...,129192.0,49.043042,50.956958,0.933927,4.572444,33.687669,1.864816,65.396122,5.074081,6.518757
2,Alafaya,Florida,33.5,39504.0,45760.0,85264,4176.0,15842.0,2.94,FL,...,63666.0,46.331394,53.668606,NaN,12.122349,7.713689,40.928176,74.669263,18.579940,4.897729
3,Alameda,California,41.4,37747.0,40867.0,78614,4504.0,18841.0,2.52,CA,...,44232.0,48.015621,51.984379,1.690539,35.596713,9.367288,10.513395,56.264787,23.966469,5.729259
4,Albany,Georgia,33.3,31695.0,39414.0,71109,5409.0,861.0,2.38,GA,...,17160.0,44.572417,55.427583,0.625800,0.914090,75.152231,2.507418,24.131966,1.210817,7.606632

In [147]:
dems_df.columns

Index(['City', 'State', 'Median Age', 'Male Population', 'Female Population',
       'Total Population', 'Number of Veterans', 'Foreign-born',
       'Average Household Size', 'State Code',
       'American Indian and Alaska Native', 'Asian',
       'Black or African-American', 'Hispanic or Latino', 'White',
       'pct_male_pop', 'pct_female_pop', 'pct_native', 'pct_asian',
       'pct_black', 'pct_hispanic', 'pct_white', 'pct_foreign_born',
       'pct_veterans'],
      dtype='object')

Dropping Columns

In [148]:
dems_df = dems_df.drop(['Male Population', 'Female Population', 'Number of Veterans', 'Foreign-born', 'American Indian and Alaska Native', 'Asian',
       'Black or African-American', 'Hispanic or Latino', 'White',], axis=1)
dems_df.columns

Index(['City', 'State', 'Median Age', 'Total Population',
       'Average Household Size', 'State Code', 'pct_male_pop',
       'pct_female_pop', 'pct_native', 'pct_asian', 'pct_black',
       'pct_hispanic', 'pct_white', 'pct_foreign_born', 'pct_veterans'],
      dtype='object')

Renaming columns

In [149]:
dems_df.rename(columns={'City': 'city', 'State': 'state', 'Median Age': 'median_age', 'Total Population': 'tot_pop', 'Average Household Size': 'avg_house_size'}, inplace=True)
dems_df.columns

Index(['city', 'state', 'median_age', 'tot_pop', 'avg_house_size',
       'State Code', 'pct_male_pop', 'pct_female_pop', 'pct_native',
       'pct_asian', 'pct_black', 'pct_hispanic', 'pct_white',
       'pct_foreign_born', 'pct_veterans'],
      dtype='object')

In [150]:
# Saving the clean df to a new csv
dems_df.to_csv('demographics_data_clean.csv', index=False)

In [151]:
print('Total records in df: ' + str(dems_df.shape[0]))

Total records in df: 596

### Immigration dataset
-----

N.B. The Immigration dataset is large therefore, for exploratory purposes only, a small subset of the Immigration dataset will be used below.

In [88]:
# Reading in the immigration data subset into a pandas df

immigration_df = pd.read_csv('immigration_data_sample.csv')

In [89]:
immigration_df.head()

,Unnamed: 0,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,2027561,4084316.0,2016.0,4.0,209.0,209.0,HHW,20566.0,1.0,HI,...,NaN,M,1955.0,07202016,F,NaN,JL,5.658267e+10,00782,WT
1,2171295,4422636.0,2016.0,4.0,582.0,582.0,MCA,20567.0,1.0,TX,...,NaN,M,1990.0,10222016,M,NaN,*GA,9.436200e+10,XBLNG,B2
2,589494,1195600.0,2016.0,4.0,148.0,112.0,OGG,20551.0,1.0,FL,...,NaN,M,1940.0,07052016,M,NaN,LH,5.578047e+10,00464,WT
3,2631158,5291768.0,2016.0,4.0,297.0,297.0,LOS,20572.0,1.0,CA,...,NaN,M,1991.0,10272016,M,NaN,QR,9.478970e+10,00739,B2
4,3032257,985523.0,2016.0,4.0,111.0,111.0,CHM,20550.0,3.0,NY,...,NaN,M,1997.0,07042016,F,NaN,NaN,4.232257e+10,LAND,WT

In [90]:
immigration_df.columns

Index(['Unnamed: 0', 'cicid', 'i94yr', 'i94mon', 'i94cit', 'i94res', 'i94port',
       'arrdate', 'i94mode', 'i94addr', 'depdate', 'i94bir', 'i94visa',
       'count', 'dtadfile', 'visapost', 'occup', 'entdepa', 'entdepd',
       'entdepu', 'matflag', 'biryear', 'dtaddto', 'gender', 'insnum',
       'airline', 'admnum', 'fltno', 'visatype'],
      dtype='object')

In [91]:
immigration_df.shape

(1000, 29)

**Reading in the whole Immigration dataset**

We will be using Spark to work with the large Immigration dataset.

Spark has a library which supports the format that the Immigration dataset is in - .sas7bdat.

In [93]:
from pyspark.sql import SparkSession

In [94]:
spark = SparkSession.builder.\
config("spark.jars.repositories", "https://repos.spark-packages.org/").\
config("spark.jars.packages", "saurfang:spark-sas7bdat:2.0.0-s_2.11").\
enableHiveSupport().getOrCreate()

*Reading in the Immigration data for April 2016 into Spark*

In [95]:
# Referenced from the following knowledge thread: https://knowledge.udacity.com/questions/437987
fname = '../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat'
immigration_df_spark = spark.read.format('com.github.saurfang.sas.spark').load(fname)

In [96]:
immigration_df_spark.count()

3096313

We can confirm that the file has been read correctly.

In [97]:
immigration_df_spark.printSchema()

root
 |-- cicid: double (nullable = true)
 |-- i94yr: double (nullable = true)
 |-- i94mon: double (nullable = true)
 |-- i94cit: double (nullable = true)
 |-- i94res: double (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: double (nullable = true)
 |-- i94mode: double (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: double (nullable = true)
 |-- i94bir: double (nullable = true)
 |-- i94visa: double (nullable = true)
 |-- count: double (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: double (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: double (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

In [98]:
immigration_df_spark.show()

+-----+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
|cicid| i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|        admnum|fltno|visatype|
+-----+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
|  6.0|2016.0|   4.0| 692.0| 692.0|    XXX|20573.0|   null|   null|   null|  37.0|    2.0|  1.0|    null|    null| null|      T|   null|      U|   null| 1979.0|10282016|  null|  null|   null| 1.897628485E9| null|      B2|
|  7.0|2016.0|   4.0| 254.0| 276.0|    ATL|20551.0|    1.0|     AL|   null|  25.0|    3.0|  1.0|20130811|     SEO| null|      G|   null|      Y|   null| 1991.0|     D/S|     M|  null|   null|  3.73679633E9|00296|      F1|
| 15.0|2016.0|   4.0| 101.0| 101.0|    WAS|20545.0|    1.0|     MI|20691.0|  55.0|    2.0|  1.0|20160401|    null| null|      T|      O|   null|      M| 1961.0|09302016|     M|  null|     OS|  6.66643185E8|   93|      B2|
| 16.0|2016.0|   4.0| 101.0| 101.0|    NYC|20545.0|    1.0|     MA|20567.0|  28.0|    2.0|  1.0|20160401|    null| null|      O|      O|   null|      M| 1988.0|09302016|  null|  null|     AA|9.246846133E10|00199|      B2|
| 17.0|2016.0|   4.0| 101.0| 101.0|    NYC|20545.0|    1.0|     MA|20567.0|   4.0|    2.0|  1.0|20160401|    null| null|      O|      O|   null|      M| 2012.0|09302016|  null|  null|     AA|9.246846313E10|00199|      B2|
| 18.0|2016.0|   4.0| 101.0| 101.0|    NYC|20545.0|    1.0|     MI|20555.0|  57.0|    1.0|  1.0|20160401|    null| null|      O|      O|   null|      M| 1959.0|09302016|  null|  null|     AZ|9.247103803E10|00602|      B1|
| 19.0|2016.0|   4.0| 101.0| 101.0|    NYC|20545.0|    1.0|     NJ|20558.0|  63.0|    2.0|  1.0|20160401|    null| null|      O|      K|   null|      M| 1953.0|09302016|  null|  null|     AZ|9.247139923E10|00602|      B2|
| 20.0|2016.0|   4.0| 101.0| 101.0|    NYC|20545.0|    1.0|     NJ|20558.0|  57.0|    2.0|  1.0|20160401|    null| null|      O|      K|   null|      M| 1959.0|09302016|  null|  null|     AZ|9.247161383E10|00602|      B2|
| 21.0|2016.0|   4.0| 101.0| 101.0|    NYC|20545.0|    1.0|     NY|20553.0|  46.0|    2.0|  1.0|20160401|    null| null|      O|      O|   null|      M| 1970.0|09302016|  null|  null|     AZ|9.247079603E10|00602|      B2|
| 22.0|2016.0|   4.0| 101.0| 101.0|    NYC|20545.0|    1.0|     NY|20562.0|  48.0|    1.0|  1.0|20160401|    null| null|      O|      O|   null|      M| 1968.0|09302016|  null|  null|     AZ|9.247848973E10|00608|      B1|
| 23.0|2016.0|   4.0| 101.0| 101.0|    NYC|20545.0|    1.0|     NY|20671.0|  52.0|    2.0|  1.0|20160401|    null| null|      O|      O|   null|      M| 1964.0|09302016|  null|  null|     TK|9.250139443E10|00001|      B2|
| 24.0|2016.0|   4.0| 101.0| 101.0|    TOR|20545.0|    1.0|     MO|20554.0|  33.0|    2.0|  1.0|20160401|    null| null|      O|      O|   null|      M| 1983.0|09302016|  null|  null|     MQ|9.249090503E10|03348|      B2|
| 27.0|2016.0|   4.0| 101.0| 101.0|    BOS|20545.0|    1.0|     MA|20549.0|  58.0|    1.0|  1.0|20160401|     TIA| null|      G|      O|   null|      M| 1958.0|04062016|     M|  null|     LH|9.247876383E10|00422|      B1|
| 28.0|2016.0|   4.0| 101.0| 101.0|    ATL|20545.0|    1.0|     MA|20549.0|  56.0|    1.0|  1.0|20160401|     TIA| null|      G|      O|   null|      M| 1960.0|04062016|     F|  null|     LH|9.247890033E10|00422|      B1|
| 29.0|2016.0|   4.0| 101.0| 101.0|    ATL|20545.0|    1.0|     MA|20561.0|  62.0|    2.0|  1.0|20160401|     TIA| null|      G|      O|   null|      M| 1954.0|09302016|     M|  null|     AZ|9.250378143E10|00614|      B2|
| 30.0|2016.0|   4.0| 101.0| 101.0|    ATL|20545.0|    1.0|     NJ|20578.0|  49.0|    2.0|  1.0|20160401|     TIA| null|      G|      O|   null|      M| 1967.0|09302016|     M|  null|     OS|9.247020943E10|00089|      B2|
| 31.0|2016.0|   4.0| 101.0| 101.0|    ATL|20545.0|    1.0|     NY|20611.0|  43.0|    2.0|  1.0|20160401|     TIA| null|      G|      O|   null|      M| 1973.0|09302016|     M|  null|     OS|9.247128923E10|00089|      B2|
| 33.0|2016.0|   4.0| 101.0| 101.0|    HOU|20545.0|    1.0|     TX|20554.0|  53.0|    2.0|  1.0|20160401|     TIA| null|      G|      O|   null|      M| 1963.0|09302016|     F|  null|     TK|9.250930163E10|00033|      B2|
| 34.0|2016.0|   4.0| 101.0| 101.0|    NYC|20545.0|    1.0|     CT|   null|  48.0|    2.0|  1.0|20160401|     TIA| null|      G|   null|   null|   null| 1968.0|09302016|     M|  null|     AZ|9.247042023E10|00602|      B2|
| 35.0|2016.0|   4.0| 101.0| 101.0|    NYC|20545.0|    1.0|     CT|   null|  74.0|    2.0|  1.0|20160401|     TIA| null|      T|   null|   null|   null| 1942.0|09302016|     F|  null|     TK|  6.69712185E8|    1|      B2|
+-----+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
only showing top 20 rows

In [ ]:
# write to parquet
immigration_df_spark.write.parquet("sas_data")
immigration_df_spark=spark.read.parquet("sas_data")

### Airport Codes Data
----------

In [62]:
airport_codes_df = pd.read_csv('airport-codes_csv.csv')

In [63]:
airport_codes_df.shape

(55075, 12)

In [64]:
airport_codes_df.dtypes

ident            object
type             object
name             object
elevation_ft    float64
continent        object
iso_country      object
iso_region       object
municipality     object
gps_code         object
iata_code        object
local_code       object
coordinates      object
dtype: object

In [65]:
airport_codes_df.columns

Index(['ident', 'type', 'name', 'elevation_ft', 'continent', 'iso_country',
       'iso_region', 'municipality', 'gps_code', 'iata_code', 'local_code',
       'coordinates'],
      dtype='object')

In [66]:
airport_codes_df.head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"

In [67]:
airport_codes_df['iso_country'].nunique()

243

This dataset contains data for multiple countries. 

We will be dropping data for any country that is not the U.S. - this is because the Immigration dataset we will be using refers to immigration into the U.s. only.

In [68]:
# Filtering the dataset so we only have airport data for the U.S.

us_airports_df = airport_codes_df[airport_codes_df['iso_country'] == 'US']

In [69]:
us_airports_df.shape

(22757, 12)

Filtering the dataset for 'iso_country' == 'US' has reduced the number of rows by approximately half.

**Checking for NaN Values**

In [70]:
us_airports_df.isnull().values.any()

True

In [71]:
us_airports_df.isnull().sum()

ident               0
type                0
name                0
elevation_ft      239
continent       22756
iso_country         0
iso_region          0
municipality      102
gps_code         1773
iata_code       20738
local_code       1521
coordinates         0
dtype: int64

In [72]:
us_airports_df.head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"

**Checking for duplicates**

In [73]:
us_airports_df.duplicated().sum()

0

Dropping rows and columns

In [74]:
us_airports_df = us_airports_df.drop(['elevation_ft', 'continent', 'gps_code', 'local_code', 'coordinates'], axis=1)

In [75]:
us_airports_df.columns

Index(['ident', 'type', 'name', 'iso_country', 'iso_region', 'municipality',
       'iata_code'],
      dtype='object')

In [78]:
us_airports_df.head()

,ident,type,name,iso_country,iso_region,municipality,iata_code
440,07FA,small_airport,Ocean Reef Club Airport,US,US-FL,Key Largo,OCA
594,0AK,small_airport,Pilot Station Airport,US,US-AK,Pilot Station,PQS
673,0CO2,small_airport,Crested Butte Airpark,US,US-CO,Crested Butte,CSE
1088,0TE7,small_airport,LBJ Ranch Airport,US,US-TX,Johnson City,JCY
1402,13MA,small_airport,Metropolitan Airport,US,US-MA,Palmer,PMX

In [80]:
us_airport_df_final = us_airports_df.dropna(subset=["iata_code"])

In [81]:
us_airport_df_final.head()

,ident,type,name,iso_country,iso_region,municipality,iata_code
440,07FA,small_airport,Ocean Reef Club Airport,US,US-FL,Key Largo,OCA
594,0AK,small_airport,Pilot Station Airport,US,US-AK,Pilot Station,PQS
673,0CO2,small_airport,Crested Butte Airpark,US,US-CO,Crested Butte,CSE
1088,0TE7,small_airport,LBJ Ranch Airport,US,US-TX,Johnson City,JCY
1402,13MA,small_airport,Metropolitan Airport,US,US-MA,Palmer,PMX

In [82]:
us_airport_df_final.shape

(2019, 7)

Removing the missing iata_code data has reduced the number of rows to 2019

In [83]:
us_airport_df_final.isnull().sum()

ident           0
type            0
name            0
iso_country     0
iso_region      0
municipality    6
iata_code       0
dtype: int64

Renaming columns

In [84]:
us_airport_df_final.rename(columns={'type': 'airport_type', 'name': 'airport_name'}, inplace=True)
us_airport_df_final.columns

Index(['ident', 'airport_type', 'airport_name', 'iso_country', 'iso_region',
       'municipality', 'iata_code'],
      dtype='object')

In [85]:
# Saving to CSV
us_airport_df_final.to_csv("us_airports_clean.csv", index=False)

### Temperature Data
-------

1. Check dataset
2. Convert date to a datetime object
3. Drop rows with NaN values and check for duplicate rows
4. Drop unecessary columns
5. Filter for U.S data only
6. Rename columns
7. Add port code from the SAS text file

In [3]:
fname = '../../data2/GlobalLandTemperaturesByCity.csv'
temp_df = pd.read_csv(fname)

In [4]:
temp_df.dtypes

dt                                object
AverageTemperature               float64
AverageTemperatureUncertainty    float64
City                              object
Country                           object
Latitude                          object
Longitude                         object
dtype: object

In [5]:
temp_df.shape

(8599212, 7)

In [6]:
temp_df.columns

Index(['dt', 'AverageTemperature', 'AverageTemperatureUncertainty', 'City',
       'Country', 'Latitude', 'Longitude'],
      dtype='object')

In [7]:
temp_df.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E

**Converting date to a datetime object**

In [8]:
temp_df['dt'] = pd.to_datetime(temp_df['dt'])

In [9]:
temp_df['year'] = temp_df['dt'].dt.year

In [10]:
temp_df.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude,year
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E,1743
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,1743
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,1744
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,1744
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,1744

In [11]:
temp_df['year'].max()

2013

In [12]:
temp_df['year'].min()

1743

**Checking for NaN Values**

In [13]:
temp_df.isnull().values.any()

True

In [14]:
temp_df.isnull().sum()

dt                                    0
AverageTemperature               364130
AverageTemperatureUncertainty    364130
City                                  0
Country                               0
Latitude                              0
Longitude                             0
year                                  0
dtype: int64

Only two columns have NaN values: AverageTemperature and AverageTemperatureUncertainty.

In [15]:
# Calculating the percentage of NaN values for each column

nan_temp_df = pd.DataFrame(data=temp_df.isnull().sum(), columns=['NaN'])

nan_temp_df.drop(nan_temp_df[nan_temp_df['NaN'] == 0].index, inplace = True)

nan_temp_df['% of NaN'] = (nan_temp_df['NaN']/temp_df.count())*100
nan_temp_df

                                  NaN  % of NaN
AverageTemperature             364130  4.421692
AverageTemperatureUncertainty  364130  4.421692

In [16]:
temp_df[temp_df['AverageTemperature'].isnull()]

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude,year
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,1743
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,1744
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,1744
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,1744
9,1744-08-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,1744
18,1745-05-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,1745
19,1745-06-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,1745
20,1745-07-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,1745
21,1745-08-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,1745
22,1745-09-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,1745
23,1745-10-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,1745
24,1745-11-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,1745
25,1745-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,1745
26,1746-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,1746
27,1746-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,1746
28,1746-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,1746
29,1746-04-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,1746
30,1746-05-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,1746
31,1746-06-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,1746
32,1746-07-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,1746
33,1746-08-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,1746
34,1746-09-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,1746
35,1746-10-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,1746
36,1746-11-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,1746
37,1746-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,1746
38,1747-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,1747
39,1747-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,1747
40,1747-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,1747
41,1747-04-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,1747
42,1747-05-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,1747
...,...,...,...,...,...,...,...,...
8596029,1748-07-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E,1748
8596030,1748-08-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E,1748
8596031,1748-09-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E,1748
8596032,1748-10-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E,1748
8596033,1748-11-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E,1748
8596034,1748-12-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E,1748
8596035,1749-01-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E,1749
8596036,1749-02-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E,1749
8596037,1749-03-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E,1749
8596038,1749-04-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E,1749
8596039,1749-05-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E,1749
8596040,1749-06-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E,1749
8596041,1749-07-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E,1749
8596042,1749-08-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E,1749
8596043,1749-09-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E,1749
8596044,1749-10-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E,1749
8596045,1749-11-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E,1749
8596046,1749-12-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E,1749
8596057,1750-11-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E,1750
8596063,1751-05-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E,1751
8596068,1751-10-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E,1751
8596069,1751-11-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E,1751
8596070,1751-12-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E,1751
8596072,1752-02-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E,1752
8596075,1752-05-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E,1752
8596076,1752-06-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E,1752
8596077,1752-07-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E,1752
8596078,1752-08-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E,1752
8596079,1752-09-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E,1752
8599211,2013-09-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E,2013

We can go with the assumption that if a row has a NaN value in the 'AverageTemperature' column then it will also have a NaN value in the 'AverageTemperatureUncertainty'. So, we will drop all rows with NaN values.

In [17]:
temp_df.dropna(axis=0, inplace=True)

In [18]:
temp_df.shape

(8235082, 8)

In [19]:
temp_df.isna().sum()

dt                               0
AverageTemperature               0
AverageTemperatureUncertainty    0
City                             0
Country                          0
Latitude                         0
Longitude                        0
year                             0
dtype: int64

How many different Cities and Countries does this dataset contain?

In [20]:
temp_df['City'].nunique()

3448

The temperature dataset contains data for 3448 cities.

In [21]:
temp_df['Country'].nunique()

159

The temperature dataset contains data for 159 cities.

**Checking for duplicates**

In [22]:
temp_df.duplicated().sum()

0

There are no duplicate rows in this dataset.

*For this project, we will be focusing solely on the U.S therefore we will filter the dataset to only include data for U.S. cities.*

In [23]:
temp_df = temp_df[temp_df['Country'] == 'United States']

In [24]:
temp_df.shape

(661524, 8)

In [26]:
# Dropping 3 columns

temp_df = temp_df.drop(['AverageTemperatureUncertainty', 'Latitude', 'Longitude'], axis=1)
temp_df.columns

Index(['dt', 'AverageTemperature', 'City', 'Country', 'year'], dtype='object')

In [28]:
# Renaming the 'dt' column
temp_df.rename(columns={'dt': 'date'}, inplace=True)
temp_df.columns

Index(['date', 'AverageTemperature', 'City', 'Country', 'year'], dtype='object')

In [29]:
temp_df.rename(columns={'AverageTemperature': 'avg_temp', 'City': 'city', 'Country': 'country'}, inplace=True)
temp_df.columns

Index(['date', 'avg_temp', 'city', 'country', 'year'], dtype='object')

In [31]:
temp_df.head()

            date  avg_temp     city        country  year
47555 1820-01-01     2.101  Abilene  United States  1820
47556 1820-02-01     6.926  Abilene  United States  1820
47557 1820-03-01    10.767  Abilene  United States  1820
47558 1820-04-01    17.989  Abilene  United States  1820
47559 1820-05-01    21.809  Abilene  United States  1820

In [33]:
# Saving the clean df to a new csv
temp_df.to_csv('temp_data_clean.csv', index=False)

**TO DO !!!!**

In [ ]:
# # Mapping the U.S cities to city port abbreviations (i94port from SAS label)

# # Add iport94 code based on city name
df_temperature_data = df_temperature_data.withColumn("i94port", get_i94port(df_temperature_data.City))

# Remove data points with no iport94 code
df_temperature_data = df_temperature_data.filter(df_temperature_data.i94port != 'null')

In [123]:
fname = 'temp_data_clean.csv'
temp_df = spark.read.format('csv').option('delimiter', ',').option('header', 'true').load(fname)

In [113]:
# Referenced from the following knowledge thread: https://knowledge.udacity.com/questions/125439
# Referenced from the following knowledge thread: https://knowledge.udacity.com/questions/801811

with open('./I94_SAS_Labels_Descriptions.SAS') as f:
    f_content = f.read()
    f_content = f_content.replace('\t', '')
    
def code_mapper(file, idx):
    f_content2 = f_content[f_content.index(idx):]
    f_content2 = f_content2[:f_content2.index(';')].split('\n')
    f_content2 = [i.replace("'", "") for i in f_content2]
    dic = [i.split('=') for i in f_content2[1:]]
    dic = dict([i[0].strip(), i[1].strip()] for i in dic if len(i) == 2)
    return dic

i94_cit_and_res = code_mapper(f_content, "i94cntyl")
i94_port = code_mapper(f_content, "i94prtl")
i94_mode = code_mapper(f_content, "i94model")
i94_addr = code_mapper(f_content, "i94addrl")
i94_visa = {'1':'Business',
'2': 'Pleasure',
'3' : 'Student'}

In [115]:
i94_port

{'ALC': 'ALCAN, AK',
 'ANC': 'ANCHORAGE, AK',
 'BAR': 'BAKER AAF - BAKER ISLAND, AK',
 'DAC': 'DALTONS CACHE, AK',
 'PIZ': 'DEW STATION PT LAY DEW, AK',
 'DTH': 'DUTCH HARBOR, AK',
 'EGL': 'EAGLE, AK',
 'FRB': 'FAIRBANKS, AK',
 'HOM': 'HOMER, AK',
 'HYD': 'HYDER, AK',
 'JUN': 'JUNEAU, AK',
 '5KE': 'KETCHIKAN, AK',
 'KET': 'KETCHIKAN, AK',
 'MOS': 'MOSES POINT INTERMEDIATE, AK',
 'NIK': 'NIKISKI, AK',
 'NOM': 'NOM, AK',
 'PKC': 'POKER CREEK, AK',
 'ORI': 'PORT LIONS SPB, AK',
 'SKA': 'SKAGWAY, AK',
 'SNP': 'ST. PAUL ISLAND, AK',
 'TKI': 'TOKEEN, AK',
 'WRA': 'WRANGELL, AK',
 'HSV': 'MADISON COUNTY - HUNTSVILLE, AL',
 'MOB': 'MOBILE, AL',
 'LIA': 'LITTLE ROCK, AR (BPS)',
 'ROG': 'ROGERS ARPT, AR',
 'DOU': 'DOUGLAS, AZ',
 'LUK': 'LUKEVILLE, AZ',
 'MAP': 'MARIPOSA AZ',
 'NAC': 'NACO, AZ',
 'NOG': 'NOGALES, AZ',
 'PHO': 'PHOENIX, AZ',
 'POR': 'PORTAL, AZ',
 'SLU': 'SAN LUIS, AZ',
 'SAS': 'SASABE, AZ',
 'TUC': 'TUCSON, AZ',
 'YUI': 'YUMA, AZ',
 'AND': 'ANDRADE, CA',
 'BUR': 'BURBANK, CA',
 'CAL': 'CALEXICO, CA',
 'CAO': 'CAMPO, CA',
 'FRE': 'FRESNO, CA',
 'ICP': 'IMPERIAL COUNTY, CA',
 'LNB': 'LONG BEACH, CA',
 'LOS': 'LOS ANGELES, CA',
 'BFL': 'MEADOWS FIELD - BAKERSFIELD, CA',
 'OAK': 'OAKLAND, CA',
 'ONT': 'ONTARIO, CA',
 'OTM': 'OTAY MESA, CA',
 'BLT': 'PACIFIC, HWY. STATION, CA',
 'PSP': 'PALM SPRINGS, CA',
 'SAC': 'SACRAMENTO, CA',
 'SLS': 'SALINAS, CA (BPS)',
 'SDP': 'SAN DIEGO, CA',
 'SFR': 'SAN FRANCISCO, CA',
 'SNJ': 'SAN JOSE, CA',
 'SLO': 'SAN LUIS OBISPO, CA',
 'SLI': 'SAN LUIS OBISPO, CA (BPS)',
 'SPC': 'SAN PEDRO, CA',
 'SYS': 'SAN YSIDRO, CA',
 'SAA': 'SANTA ANA, CA',
 'STO': 'STOCKTON, CA (BPS)',
 'TEC': 'TECATE, CA',
 'TRV': 'TRAVIS-AFB, CA',
 'APA': 'ARAPAHOE COUNTY, CO',
 'ASE': 'ASPEN, CO #ARPT',
 'COS': 'COLORADO SPRINGS, CO',
 'DEN': 'DENVER, CO',
 'DRO': 'LA PLATA - DURANGO, CO',
 'BDL': 'BRADLEY INTERNATIONAL, CT',
 'BGC': 'BRIDGEPORT, CT',
 'GRT': 'GROTON, CT',
 'HAR': 'HARTFORD, CT',
 'NWH': 'NEW HAVEN, CT',
 'NWL': 'NEW LONDON, CT',
 'TST': 'NEWINGTON DATA CENTER TEST, CT',
 'WAS': 'WASHINGTON DC',
 'DOV': 'DOVER AFB, DE',
 'DVD': 'DOVER-AFB, DE',
 'WLL': 'WILMINGTON, DE',
 'BOC': 'BOCAGRANDE, FL',
 'SRQ': 'BRADENTON - SARASOTA, FL',
 'CAN': 'CAPE CANAVERAL, FL',
 'DAB': 'DAYTONA BEACH INTERNATIONAL, FL',
 'FRN': 'FERNANDINA, FL',
 'FTL': 'FORT LAUDERDALE, FL',
 'FMY': 'FORT MYERS, FL',
 'FPF': 'FORT PIERCE, FL',
 'HUR': 'HURLBURT FIELD, FL',
 'GNV': 'J R ALISON MUNI - GAINESVILLE, FL',
 'JAC': 'JACKSONVILLE, FL',
 'KEY': 'KEY WEST, FL',
 'LEE': 'LEESBURG MUNICIPAL AIRPORT, FL',
 'MLB': 'MELBOURNE, FL',
 'MIA': 'MIAMI, FL',
 'APF': 'NAPLES, FL #ARPT',
 'OPF': 'OPA LOCKA, FL',
 'ORL': 'ORLANDO, FL',
 'PAN': 'PANAMA CITY, FL',
 'PEN': 'PENSACOLA, FL',
 'PCF': 'PORT CANAVERAL, FL',
 'PEV': 'PORT EVERGLADES, FL',
 'PSJ': 'PORT ST JOE, FL',
 'SFB': 'SANFORD, FL',
 'SGJ': 'ST AUGUSTINE ARPT, FL',
 'SAU': 'ST AUGUSTINE, FL',
 'FPR': 'ST LUCIE COUNTY, FL',
 'SPE': 'ST PETERSBURG, FL',
 'TAM': 'TAMPA, FL',
 'WPB': 'WEST PALM BEACH, FL',
 'ATL': 'ATLANTA, GA',
 'BRU': 'BRUNSWICK, GA',
 'AGS': 'BUSH FIELD - AUGUSTA, GA',
 'SAV': 'SAVANNAH, GA',
 'AGA': 'AGANA, GU',
 'HHW': 'HONOLULU, HI',
 'OGG': 'KAHULUI - MAUI, HI',
 'KOA': 'KEAHOLE-KONA, HI',
 'LIH': 'LIHUE, HI',
 'CID': 'CEDAR RAPIDS/IOWA CITY, IA',
 'DSM': 'DES MOINES, IA',
 'BOI': 'AIR TERM. (GOWEN FLD) BOISE, ID',
 'EPI': 'EASTPORT, ID',
 'IDA': 'FANNING FIELD - IDAHO FALLS, ID',
 'PTL': 'PORTHILL, ID',
 'SPI': 'CAPITAL - SPRINGFIELD, IL',
 'CHI': 'CHICAGO, IL',
 'DPA': 'DUPAGE COUNTY, IL',
 'PIA': 'GREATER PEORIA, IL',
 'RFD': 'GREATER ROCKFORD, IL',
 'UGN': 'MEMORIAL - WAUKEGAN, IL',
 'GAR': 'GARY, IN',
 'HMM': 'HAMMOND, IN',
 'INP': 'INDIANAPOLIS, IN',
 'MRL': 'MERRILLVILLE, IN',
 'SBN': 'SOUTH BEND, IN',
 'ICT': 'MID-CONTINENT - WITCHITA, KS',
 'LEX': 'BLUE GRASS - LEXINGTON, KY',
 'LOU': 'LOUISVILLE, KY',
 'BTN': 'BATON ROUGE, LA',
 'LKC': 'LAKE CHARLES, LA',
 'LAK': 'LAKE CHARLES, LA (BPS)',
 'MLU': 'MONROE, LA',
 'MGC': 'MORGAN CITY, LA',
 'NOL': 'NEW ORLEANS, LA',
 'BOS': 'BOSTON, MA',
 'GLO': 'GLOUCESTER, MA',
 'BED': 'HANSCOM FIELD - BEDFORD, MA',
 'LYN': 'LYNDEN, WA',
 'ADW': 'ANDREWS AFB, MD',
 'BAL': 'BALTIMORE, MD',
 'MKG': 'MUSKEGON, MD',
 'PAX': 'PATUXENT RIVER, MD',
 'BGM': 'BANGOR, ME',
 'BOO': 'BOOTHBAY HARBOR, ME',
 'BWM': 'BRIDGEWATER, ME',
 'BCK': 'BUCKPORT, ME',
 'CLS': 'CALAIS, ME',
 'CRB': 'CARIBOU, ME',
 'COB': 'COBURN GORE, ME',
 'EST': 'EASTCOURT, ME',
 'EPT': 'EASTPORT MUNICIPAL, ME',
 'EPM': 'EASTPORT, ME',
 'FOR': 'FOREST CITY, ME',
 'FTF': 'FORT FAIRFIELD, ME',
 'FTK': 'FORT KENT, ME',
 'HML': 'HAMIIN, ME',
 'HTM': 'HOULTON, ME',
 'JKM': 'JACKMAN, ME',
 'KAL': 'KALISPEL, MT',
 'LIM': 'LIMESTONE, ME',
 'LUB': 'LUBEC, ME',
 'MAD': 'MADAWASKA, ME',
 'POM': 'PORTLAND, ME',
 'RGM': 'RANGELEY, ME (BPS)',
 'SBR': 'SOUTH BREWER, ME',
 'SRL': 'ST AURELIE, ME',
 'SPA': 'ST PAMPILE, ME',
 'VNB': 'VAN BUREN, ME',
 'VCB': 'VANCEBORO, ME',
 'AGN': 'ALGONAC, MI',
 'ALP': 'ALPENA, MI',
 'BCY': 'BAY CITY, MI',
 'DET': 'DETROIT, MI',
 'GRP': 'GRAND RAPIDS, MI',
 'GRO': 'GROSSE ISLE, MI',
 'ISL': 'ISLE ROYALE, MI',
 'MRC': 'MARINE CITY, MI',
 'MRY': 'MARYSVILLE, MI',
 'PTK': 'OAKLAND COUNTY - PONTIAC, MI',
 'PHU': 'PORT HURON, MI',
 'RBT': 'ROBERTS LANDING, MI',
 'SAG': 'SAGINAW, MI',
 'SSM': 'SAULT STE. MARIE, MI',
 'SCL': 'ST CLAIR, MI',
 'YIP': 'WILLOW RUN - YPSILANTI, MI',
 'BAU': 'BAUDETTE, MN',
 'CAR': 'CARIBOU MUNICIPAL AIRPORT, MN',
 'GTF': 'Collapsed into INT, MN',
 'INL': 'Collapsed into INT, MN',
 'CRA': 'CRANE LAKE, MN',
 'MIC': 'CRYSTAL MUNICIPAL AIRPORT, MN',
 'DUL': 'DULUTH, MN',
 'ELY': 'ELY, MN',
 'GPM': 'GRAND PORTAGE, MN',
 'SVC': 'GRANT COUNTY - SILVER CITY, MN',
 'INT': 'INTL FALLS, MN',
 'LAN': 'LANCASTER, MN',
 'MSP': 'MINN./ST PAUL, MN',
 'LIN': 'NORTHERN SVC CENTER, MN',
 'NOY': 'NOYES, MN',
 'PIN': 'PINE CREEK, MN',
 '48Y': 'PINECREEK BORDER ARPT, MN',
 'RAN': 'RAINER, MN',
 'RST': 'ROCHESTER, MN',
 'ROS': 'ROSEAU, MN',
 'SPM': 'ST PAUL, MN',
 'WSB': 'WARROAD INTL, SPB, MN',
 'WAR': 'WARROAD, MN',
 'KAN': 'KANSAS CITY, MO',
 'SGF': 'SPRINGFIELD-BRANSON, MO',
 'STL': 'ST LOUIS, MO',
 'WHI': 'WHITETAIL, MT',
 'WHM': 'WILD HORSE, MT',
 'GPT': 'BILOXI REGIONAL, MS',
 'GTR': 'GOLDEN TRIANGLE LOWNDES CNTY, MS',
 'GUL': 'GULFPORT, MS',
 'PAS': 'PASCAGOULA, MS',
 'JAN': 'THOMPSON FIELD - JACKSON, MS',
 'BIL': 'BILLINGS, MT',
 'BTM': 'BUTTE, MT',
 'CHF': 'CHIEF MT, MT',
 'CTB': 'CUT BANK MUNICIPAL, MT',
 'CUT': 'CUT BANK, MT',
 'DLB': 'DEL BONITA, MT',
 'EUR': 'EUREKA, MT (BPS)',
 'BZN': 'GALLATIN FIELD - BOZEMAN, MT',
 'FCA': 'GLACIER NATIONAL PARK, MT',
 'GGW': 'GLASGOW, MT',
 'GRE': 'GREAT FALLS, MT',
 'HVR': 'HAVRE, MT',
 'HEL': 'HELENA, MT',
 'LWT': 'LEWISTON, MT',
 'MGM': 'MORGAN, MT',
 'OPH': 'OPHEIM, MT',
 'PIE': 'PIEGAN, MT',
 'RAY': 'RAYMOND, MT',
 'ROO': 'ROOSVILLE, MT',
 'SCO': 'SCOBEY, MT',
 'SWE': 'SWEETGTASS, MT',
 'TRL': 'TRIAL CREEK, MT',
 'TUR': 'TURNER, MT',
 'WCM': 'WILLOW CREEK, MT',
 'CLT': 'CHARLOTTE, NC',
 'FAY': 'FAYETTEVILLE, NC',
 'MRH': 'MOREHEAD CITY, NC',
 'FOP': 'MORRIS FIELDS AAF, NC',
 'GSO': 'PIEDMONT TRIAD INTL AIRPORT, NC',
 'RDU': 'RALEIGH/DURHAM, NC',
 'SSC': 'SHAW AFB - SUMTER, NC',
 'WIL': 'WILMINGTON, NC',
 'AMB': 'AMBROSE, ND',
 'ANT': 'ANTLER, ND',
 'CRY': 'CARBURY, ND',
 'DNS': 'DUNSEITH, ND',
 'FAR': 'FARGO, ND',
 'FRT': 'FORTUNA, ND',
 'GRF': 'GRAND FORKS, ND',
 'HNN': 'HANNAH, ND',
 'HNS': 'HANSBORO, ND',
 'MAI': 'MAIDA, ND',
 'MND': 'MINOT, ND',
 'NEC': 'NECHE, ND',
 'NOO': 'NOONAN, ND',
 'NRG': 'NORTHGATE, ND',
 'PEM': 'PEMBINA, ND',
 'SAR': 'SARLES, ND',
 'SHR': 'SHERWOOD, ND',
 'SJO': 'ST JOHN, ND',
 'WAL': 'WALHALLA, ND',
 'WHO': 'WESTHOPE, ND',
 'WND': 'WILLISTON, ND',
 'OMA': 'OMAHA, NE',
 'LEB': 'LEBANON, NH',
 'MHT': 'MANCHESTER, NH',
 'PNH': 'PITTSBURG, NH',
 'PSM': 'PORTSMOUTH, NH',
 'BYO': 'BAYONNE, NJ',
 'CNJ': 'CAMDEN, NJ',
 'HOB': 'HOBOKEN, NJ',
 'JER': 'JERSEY CITY, NJ',
 'WRI': 'MC GUIRE AFB - WRIGHTSOWN, NJ',
 'MMU': 'MORRISTOWN, NJ',
 'NEW': 'NEWARK/TETERBORO, NJ',
 'PER': 'PERTH AMBOY, NJ',
 'ACY': 'POMONA FIELD - ATLANTIC CITY, NJ',
 'ALA': 'ALAMAGORDO, NM (BPS)',
 'ABQ': 'ALBUQUERQUE, NM',
 'ANP': 'ANTELOPE WELLS, NM',
 'CRL': 'CARLSBAD, NM',
 'COL': 'COLUMBUS, NM',
 'CDD': 'CRANE LAKE - ST. LOUIS CNTY, NM',
 'DNM': 'DEMING, NM (BPS)',
 'LAS': 'LAS CRUCES, NM',
 'LOB': 'LORDSBURG, NM (BPS)',
 'RUI': 'RUIDOSO, NM',
 'STR': 'SANTA TERESA, NM',
 'RNO': 'CANNON INTL - RENO/TAHOE, NV',
 'FLX': 'FALLON MUNICIPAL AIRPORT, NV',
 'LVG': 'LAS VEGAS, NV',
 'REN': 'RENO, NV',
 'ALB': 'ALBANY, NY',
 'AXB': 'ALEXANDRIA BAY, NY',
 'BUF': 'BUFFALO, NY',
 'CNH': 'CANNON CORNERS, NY',
 'CAP': 'CAPE VINCENT, NY',
 'CHM': 'CHAMPLAIN, NY',
 'CHT': 'CHATEAUGAY, NY',
 'CLA': 'CLAYTON, NY',
 'FTC': 'FORT COVINGTON, NY',
 'LAG': 'LA GUARDIA, NY',
 'LEW': 'LEWISTON, NY',
 'MAS': 'MASSENA, NY',
 'MAG': 'MCGUIRE AFB, NY',
 'MOO': 'MOORES, NY',
 'MRR': 'MORRISTOWN, NY',
 'NYC': 'NEW YORK, NY',
 'NIA': 'NIAGARA FALLS, NY',
 'OGD': 'OGDENSBURG, NY',
 'OSW': 'OSWEGO, NY',
 'ELM': 'REGIONAL ARPT - HORSEHEAD, NY',
 'ROC': 'ROCHESTER, NY',
 'ROU': 'ROUSES POINT, NY',
 'SWF': 'STEWART - ORANGE CNTY, NY',
 'SYR': 'SYRACUSE, NY',
 'THO': 'THOUSAND ISLAND BRIDGE, NY',
 'TRO': 'TROUT RIVER, NY',
 'WAT': 'WATERTOWN, NY',
 'HPN': 'WESTCHESTER - WHITE PLAINS, NY',
 'WRB': 'WHIRLPOOL BRIDGE, NY',
 'YOU': 'YOUNGSTOWN, NY',
 'AKR': 'AKRON, OH',
 'ATB': 'ASHTABULA, OH',
 'CIN': 'CINCINNATI, OH',
 'CLE': 'CLEVELAND, OH',
 'CLM': 'COLUMBUS, OH',
 'LOR': 'LORAIN, OH',
 'MBO': 'MARBLE HEADS, OH',
 'SDY': 'SANDUSKY, OH',
 'TOL': 'TOLEDO, OH',
 'OKC': 'OKLAHOMA CITY, OK',
 'TUL': 'TULSA, OK',
 'AST': 'ASTORIA, OR',
 'COO': 'COOS BAY, OR',
 'HIO': 'HILLSBORO, OR',
 'MED': 'MEDFORD, OR',
 'NPT': 'NEWPORT, OR',
 'POO': 'PORTLAND, OR',
 'PUT': 'PUT-IN-BAY, OH',
 'RDM': 'ROBERTS FIELDS - REDMOND, OR',
 'ERI': 'ERIE, PA',
 'MDT': 'HARRISBURG, PA',
 'HSB': 'HARRISONBURG, PA',
 'PHI': 'PHILADELPHIA, PA',
 'PIT': 'PITTSBURG, PA',
 'AGU': 'AGUADILLA, PR',
 'BQN': 'BORINQUEN - AGUADILLO, PR',
 'JCP': 'CULEBRA - BENJAMIN RIVERA, PR',
 'ENS': 'ENSENADA, PR',
 'FAJ': 'FAJARDO, PR',
 'HUM': 'HUMACAO, PR',
 'JOB': 'JOBOS, PR',
 'MAY': 'MAYAGUEZ, PR',
 'PON': 'PONCE, PR',
 'PSE': 'PONCE-MERCEDITA, PR',
 'SAJ': 'SAN JUAN, PR',
 'VQS': 'VIEQUES-ARPT, PR',
 'PRO': 'PROVIDENCE, RI',
 'PVD': 'THEODORE FRANCIS - WARWICK, RI',
 'CHL': 'CHARLESTON, SC',
 'CAE': 'COLUMBIA, SC #ARPT',
 'GEO': 'GEORGETOWN, SC',
 'GSP': 'GREENVILLE, SC',
 'GRR': 'GREER, SC',
 'MYR': 'MYRTLE BEACH, SC',
 'SPF': 'BLACK HILLS, SPEARFISH, SD',
 'HON': 'HOWES REGIONAL ARPT - HURON, SD',
 'SAI': 'SAIPAN, SPN',
 'TYS': 'MC GHEE TYSON - ALCOA, TN',
 'MEM': 'MEMPHIS, TN',
 'NSV': 'NASHVILLE, TN',
 'TRI': 'TRI CITY ARPT, TN',
 'ADS': 'ADDISON AIRPORT- ADDISON, TX',
 'ADT': 'AMISTAD DAM, TX',
 'ANZ': 'ANZALDUAS, TX',
 'AUS': 'AUSTIN, TX',
 'BEA': 'BEAUMONT, TX',
 'BBP': 'BIG BEND PARK, TX (BPS)',
 'SCC': 'BP SPEC COORD. CTR, TX',
 'BTC': 'BP TACTICAL UNIT, TX',
 'BOA': 'BRIDGE OF AMERICAS, TX',
 'BRO': 'BROWNSVILLE, TX',
 'CRP': 'CORPUS CHRISTI, TX',
 'DAL': 'DALLAS, TX',
 'DLR': 'DEL RIO, TX',
 'DNA': 'DONNA, TX',
 'EGP': 'EAGLE PASS, TX',
 'ELP': 'EL PASO, TX',
 'FAB': 'FABENS, TX',
 'FAL': 'FALCON HEIGHTS, TX',
 'FTH': 'FORT HANCOCK, TX',
 'AFW': 'FORT WORTH ALLIANCE, TX',
 'FPT': 'FREEPORT, TX',
 'GAL': 'GALVESTON, TX',
 'HLG': 'HARLINGEN, TX',
 'HID': 'HIDALGO, TX',
 'HOU': 'HOUSTON, TX',
 'SGR': 'HULL FIELD, SUGAR LAND ARPT, TX',
 'LLB': 'JUAREZ-LINCOLN BRIDGE, TX',
 'LCB': 'LAREDO COLUMBIA BRIDGE, TX',
 'LRN': 'LAREDO NORTH, TX',
 'LAR': 'LAREDO, TX',
 'LSE': 'LOS EBANOS, TX',
 'IND': 'LOS INDIOS, TX',
 'LOI': 'LOS INDIOS, TX',
 'MRS': 'MARFA, TX (BPS)',
 'MCA': 'MCALLEN, TX',
 'MAF': 'ODESSA REGIONAL, TX',
 'PDN': 'PASO DEL NORTE,TX',
 'PBB': 'PEACE BRIDGE, NY',
 'PHR': 'PHARR, TX',
 'PAR': 'PORT ARTHUR, TX',
 'ISB': 'PORT ISABEL, TX',
 'POE': 'PORT OF EL PASO, TX',
 'PRE': 'PRESIDIO, TX',
 'PGR': 'PROGRESO, TX',
 'RIO': 'RIO GRANDE CITY, TX',
 'ROM': 'ROMA, TX',
 'SNA': 'SAN ANTONIO, TX',
 'SNN': 'SANDERSON, TX',
 'VIB': 'VETERAN INTL BRIDGE, TX',
 'YSL': 'YSLETA, TX',
 'CHA': 'CHARLOTTE AMALIE, VI',
 'CHR': 'CHRISTIANSTED, VI',
 'CRU': 'CRUZ BAY, ST JOHN, VI',
 'FRK': 'FREDERIKSTED, VI',
 'STT': 'ST THOMAS, VI',
 'LGU': 'CACHE AIRPORT - LOGAN, UT',
 'SLC': 'SALT LAKE CITY, UT',
 'CHO': 'ALBEMARLE CHARLOTTESVILLE, VA',
 'DAA': 'DAVISON AAF - FAIRFAX CNTY, VA',
 'HOP': 'HOPEWELL, VA',
 'HEF': 'MANASSAS, VA #ARPT',
 'NWN': 'NEWPORT, VA',
 'NOR': 'NORFOLK, VA',
 'RCM': 'RICHMOND, VA',
 'ABS': 'ALBURG SPRINGS, VT',
 'ABG': 'ALBURG, VT',
 'BEB': 'BEEBE PLAIN, VT',
 'BEE': 'BEECHER FALLS, VT',
 'BRG': 'BURLINGTON, VT',
 'CNA': 'CANAAN, VT',
 'DER': 'DERBY LINE, VT (I-91)',
 'DLV': 'DERBY LINE, VT (RT. 5)',
 'ERC': 'EAST RICHFORD, VT',
 'HIG': 'HIGHGATE SPRINGS, VT',
 'MOR': 'MORSES LINE, VT',
 'NPV': 'NEWPORT, VT',
 'NRT': 'NORTH TROY, VT',
 'NRN': 'NORTON, VT',
 'PIV': 'PINNACLE ROAD, VT',
 'RIF': 'RICHFORT, VT',
 'STA': 'ST ALBANS, VT',
 'SWB': 'SWANTON, VT (BP - SECTOR HQ)',
 'WBE': 'WEST BERKSHIRE, VT',
 'ABE': 'ABERDEEN, WA',
 'ANA': 'ANACORTES, WA',
 'BEL': 'BELLINGHAM, WA',
 'BLI': 'BELLINGHAM, WASHINGTON #INTL',
 'BLA': 'BLAINE, WA',
 'BWA': 'BOUNDARY, WA',
 'CUR': 'CURLEW, WA (BPS)',
 'DVL': 'DANVILLE, WA',
 'EVE': 'EVERETT, WA',
 'FER': 'FERRY, WA',
 'FRI': 'FRIDAY HARBOR, WA',
 'FWA': 'FRONTIER, WA',
 'KLM': 'KALAMA, WA',
 'LAU': 'LAURIER, WA',
 'LON': 'LONGVIEW, WA',
 'MET': 'METALINE FALLS, WA',
 'MWH': 'MOSES LAKE GRANT COUNTY ARPT, WA',
 'NEA': 'NEAH BAY, WA',
 'NIG': 'NIGHTHAWK, WA',
 'OLY': 'OLYMPIA, WA',
 'ORO': 'OROVILLE, WA',
 'PWB': 'PASCO, WA',
 'PIR': 'POINT ROBERTS, WA',
 'PNG': 'PORT ANGELES, WA',
 'PTO': 'PORT TOWNSEND, WA',
 'SEA': 'SEATTLE, WA',
 'SPO': 'SPOKANE, WA',
 'SUM': 'SUMAS, WA',
 'TAC': 'TACOMA, WA',
 'PSC': 'TRI-CITIES - PASCO, WA',
 'VAN': 'VANCOUVER, WA',
 'AGM': 'ALGOMA, WI',
 'BAY': 'BAYFIELD, WI',
 'GRB': 'GREEN BAY, WI',
 'MNW': 'MANITOWOC, WI',
 'MIL': 'MILWAUKEE, WI',
 'MSN': 'TRUAX FIELD - DANE COUNTY, WI',
 'CHS': 'CHARLESTON, WV',
 'CLK': 'CLARKSBURG, WV',
 'BLF': 'MERCER COUNTY, WV',
 'CSP': 'CASPER, WY',
 'XXX': 'NOT REPORTED/UNKNOWN',
 '888': 'UNIDENTIFED AIR / SEAPORT',
 'UNK': 'UNKNOWN POE',
 'CLG': 'CALGARY, CANADA',
 'EDA': 'EDMONTON, CANADA',
 'YHC': 'HAKAI PASS, CANADA',
 'HAL': 'Halifax, NS, Canada',
 'MON': 'MONTREAL, CANADA',
 'OTT': 'OTTAWA, CANADA',
 'YXE': 'SASKATOON, CANADA',
 'TOR': 'TORONTO, CANADA',
 'VCV': 'VANCOUVER, CANADA',
 'VIC': 'VICTORIA, CANADA',
 'WIN': 'WINNIPEG, CANADA',
 'AMS': 'AMSTERDAM-SCHIPHOL, NETHERLANDS',
 'ARB': 'ARUBA, NETH ANTILLES',
 'BAN': 'BANKOK, THAILAND',
 'BEI': 'BEICA #ARPT, ETHIOPIA',
 'PEK': 'BEIJING CAPITAL INTL, PRC',
 'BDA': 'KINDLEY FIELD, BERMUDA',
 'BOG': 'BOGOTA, EL DORADO #ARPT, COLOMBIA',
 'EZE': 'BUENOS AIRES, MINISTRO PIST, ARGENTINA',
 'CUN': 'CANCUN, MEXICO',
 'CRQ': 'CARAVELAS, BA #ARPT, BRAZIL',
 'MVD': 'CARRASCO, URUGUAY',
 'DUB': 'DUBLIN, IRELAND',
 'FOU': 'FOUGAMOU #ARPT, GABON',
 'FBA': 'FREEPORT, BAHAMAS',
 'MTY': 'GEN M. ESCOBEDO, Monterrey, MX',
 'HMO': 'GEN PESQUEIRA GARCIA, MX',
 'GCM': 'GRAND CAYMAN, CAYMAN ISLAND',
 'GDL': 'GUADALAJARA, MIGUEL HIDAL, MX',
 'HAM': 'HAMILTON, BERMUDA',
 'ICN': 'INCHON, SEOUL KOREA',
 'IWA': 'INVALID - IWAKUNI, JAPAN',
 'CND': 'KOGALNICEANU, ROMANIA',
 'LAH': 'LABUHA ARPT, INDONESIA',
 'DUR': 'LOUIS BOTHA, SOUTH AFRICA',
 'MAL': 'MANGOLE ARPT, INDONESIA',
 'MDE': 'MEDELLIN, COLOMBIA',
 'MEX': 'JUAREZ INTL, MEXICO CITY, MX',
 'LHR': 'MIDDLESEX, ENGLAND',
 'NBO': 'NAIROBI, KENYA',
 'NAS': 'NASSAU, BAHAMAS',
 'NCA': 'NORTH CAICOS, TURK & CAIMAN',
 'PTY': 'OMAR TORRIJOS, PANAMA',
 'SPV': 'PAPUA, NEW GUINEA',
 'UIO': 'QUITO (MARISCAL SUCR), ECUADOR',
 'RIT': 'ROME, ITALY',
 'SNO': 'SAKON NAKHON #ARPT, THAILAND',
 'SLP': 'SAN LUIS POTOSI #ARPT, MEXICO',
 'SAN': 'SAN SALVADOR, EL SALVADOR',
 'SRO': 'SANTANA RAMOS #ARPT, COLOMBIA',
 'GRU': 'GUARULHOS INTL, SAO PAULO, BRAZIL',
 'SHA': 'SHANNON, IRELAND',
 'HIL': 'SHILLAVO, ETHIOPIA',
 'TOK': 'TOROKINA #ARPT, PAPUA, NEW GUINEA',
 'VER': 'VERACRUZ, MEXICO',
 'LGW': 'WEST SUSSEX, ENGLAND',
 'ZZZ': 'MEXICO Land (Banco de Mexico)',
 'CHN': 'No PORT Code (CHN)',
 'CNC': 'CANNON CORNERS, NY',
 'MAA': 'Abu Dhabi',
 'AG0': 'MAGNOLIA, AR',
 'BHM': 'BAR HARBOR, ME',
 'BHX': 'BIRMINGHAM, AL',
 'CAK': 'AKRON, OH',
 'FOK': 'SUFFOLK COUNTY, NY',
 'LND': 'LANDER, WY',
 'MAR': 'MARFA, TX',
 'MLI': 'MOLINE, IL',
 'RIV': 'RIVERSIDE, CA',
 'RME': 'ROME, NY',
 'VNY': 'VAN NUYS, CA',
 'YUM': 'YUMA, AZ',
 'FRG': 'Collapsed (FOK) 06/15',
 'HRL': 'Collapsed (HLG) 06/15',
 'ISP': 'Collapsed (FOK) 06/15',
 'JSJ': 'Collapsed (SAJ) 06/15',
 'BUS': 'Collapsed (BUF) 06/15',
 'IAG': 'Collapsed (NIA) 06/15',
 'PHN': 'Collapsed (PHU) 06/15',
 'STN': 'Collapsed (STR) 06/15',
 'VMB': 'Collapsed (VNB) 06/15',
 'T01': 'Collapsed (SEA) 06/15',
 'PHF': 'No PORT Code (PHF)',
 'DRV': 'No PORT Code (DRV)',
 'FTB': 'No PORT Code (FTB)',
 'GAC': 'No PORT Code (GAC)',
 'GMT': 'No PORT Code (GMT)',
 'JFA': 'No PORT Code (JFA)',
 'JMZ': 'No PORT Code (JMZ)',
 'NC8': 'No PORT Code (NC8)',
 'NYL': 'No PORT Code (NYL)',
 'OAI': 'No PORT Code (OAI)',
 'PCW': 'No PORT Code (PCW)',
 'WA5': 'No PORT Code (WAS)',
 'WTR': 'No PORT Code (WTR)',
 'X96': 'No PORT Code (X96)',
 'XNA': 'No PORT Code (XNA)',
 'YGF': 'No PORT Code (YGF)',
 '5T6': 'No PORT Code (5T6)',
 '060': 'No PORT Code (60)',
 'SP0': 'No PORT Code (SP0)',
 'W55': 'No PORT Code (W55)',
 'X44': 'No PORT Code (X44)',
 'AUH': 'No PORT Code (AUH)',
 'RYY': 'No PORT Code (RYY)',
 'SUS': 'No PORT Code (SUS)',
 '74S': 'No PORT Code (74S)',
 'ATW': 'No PORT Code (ATW)',
 'CPX': 'No PORT Code (CPX)',
 'MTH': 'No PORT Code (MTH)',
 'PFN': 'No PORT Code (PFN)',
 'SCH': 'No PORT Code (SCH)',
 'ASI': 'No PORT Code (ASI)',
 'BKF': 'No PORT Code (BKF)',
 'DAY': 'No PORT Code (DAY)',
 'Y62': 'No PORT Code (Y62)',
 'AG': 'No PORT Code (AG)',
 'BCM': 'No PORT Code (BCM)',
 'DEC': 'No PORT Code (DEC)',
 'PLB': 'No PORT Code (PLB)',
 'CXO': 'No PORT Code (CXO)',
 'JBQ': 'No PORT Code (JBQ)',
 'JIG': 'No PORT Code (JIG)',
 'OGS': 'No PORT Code (OGS)',
 'TIW': 'No PORT Code (TIW)',
 'OTS': 'No PORT Code (OTS)',
 'AMT': 'No PORT Code (AMT)',
 'EGE': 'No PORT Code (EGE)',
 'GPI': 'No PORT Code (GPI)',
 'NGL': 'No PORT Code (NGL)',
 'OLM': 'No PORT Code (OLM)',
 '.GA': 'No PORT Code (.GA)',
 'CLX': 'No PORT Code (CLX)',
 'CP': 'No PORT Code (CP)',
 'FSC': 'No PORT Code (FSC)',
 'NK': 'No PORT Code (NK)',
 'ADU': 'No PORT Code (ADU)',
 'AKT': 'No PORT Code (AKT)',
 'LIT': 'No PORT Code (LIT)',
 'A2A': 'No PORT Code (A2A)',
 'OSN': 'No PORT Code (OSN)'}

Now, we can map the city code in the i94_port dictionary to the cities in the temperature dataset.

We will add a new column to the temperature dataset called 'i94_port' and add the corresponding data.

N.B. in Temperature Dataset, the cities in the 'City' column have the following format: Xxxx

However, in the i94_port dictionary, the cities are in the following format: XXXXXX

We will have to use the following .lower() to ensure that both formats are the same.

In [128]:
def city_port_code(city):

    for port in i94_port:
        if city.lower() in i94_port[port].lower():
            return port


temp_df = temp_df.withColumn('i94_port', city_port_code(temp_df.city))

TypeError: 'Column' object is not callable

In [127]:
temp_df.show()

+----------+------------------+-------+-------------+----+
|      date|          avg_temp|   city|      country|year|
+----------+------------------+-------+-------------+----+
|1820-01-01|2.1010000000000004|Abilene|United States|1820|
|1820-02-01|             6.926|Abilene|United States|1820|
|1820-03-01|10.767000000000001|Abilene|United States|1820|
|1820-04-01|17.988999999999994|Abilene|United States|1820|
|1820-05-01|            21.809|Abilene|United States|1820|
|1820-06-01|            25.682|Abilene|United States|1820|
|1820-07-01|            26.268|Abilene|United States|1820|
|1820-08-01|25.048000000000002|Abilene|United States|1820|
|1820-09-01|            22.435|Abilene|United States|1820|
|1820-10-01|             15.83|Abilene|United States|1820|
|1820-11-01|             9.408|Abilene|United States|1820|
|1820-12-01|             3.853|Abilene|United States|1820|
|1821-01-01| 5.276000000000002|Abilene|United States|1821|
|1821-02-01| 7.587999999999999|Abilene|United States|1821|
|1821-03-01|            11.728|Abilene|United States|1821|
|1821-04-01|15.460999999999999|Abilene|United States|1821|
|1821-05-01|21.488000000000003|Abilene|United States|1821|
|1821-06-01|            25.768|Abilene|United States|1821|
|1821-07-01|            26.553|Abilene|United States|1821|
|1821-08-01|            27.272|Abilene|United States|1821|
+----------+------------------+-------+-------------+----+
only showing top 20 rows

In [ ]:
# Create udf to map city full name to city port abbreviation

@udf(StringType())
def city_to_port(city):
    for key in valid_ports:
        if city.lower() in valid_ports[key].lower():
            return key

# Clean temperature data

# Only use temperatures from United States
# Map full name to city port abbreviation
# Remove invalid ports
cleaned_temp_df = temperature_df.filter(temperature_df["Country"] == "United States") \
    .withColumn("year", year(temperature_df['dt'])) \
    .withColumn("month", month(temperature_df["dt"])) \
    .withColumn("i94port", city_to_port(temperature_df["City"])) \
    .withColumn("AverageTemperature", col("AverageTemperature").cast("float")) \
    .dropna(how='any', subset=["i94port"])






@udf()
def get_i94port(city):
    '''
    Input: City name 
    Output: Corresponding i94port
    '''
    
    for key in i94portvalid:
        if city.lower() in i94portvalid[key][0].lower():
            return key

        
        
        
# Add iport94 code based on city name
df_temperature_data = df_temperature_data.withColumn("i94port", get_i94port(df_temperature_data.City))
df_temperature_data.show()

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [ ]:
# Write code here

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [ ]:
# Perform quality checks here

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
* Propose how often the data should be updated and why.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * The database needed to be accessed by 100+ people.